<div>
  <button type="button"
  class="btn btn-outline-dark"
  (click)="openConfirm()">Open Confirm Modal</button>
  Confirmation result: {{confirmedResult}}
</div>

<div>
  <button type="button"
  class="btn btn-outline-dark"
  (click)="openInput()">Open Input Modal</button>
  Input result: {{inputResult}}
</div>

<div>
  <button type="button"
  class="btn btn-outline-dark"
  (click)="openMessage()">Open Message Modal</button>
  Message result: {{messageResult}}
</div>

<div>
  <button type="button"
  class="btn btn-outline-dark"
  (click)="openCustom()">Open Custom Modal</button>
  Message result: {{customResult}}
</div>
